@charset "UTF-8";
/* Keyframes */
@-webkit-keyframes loading-spinner {
  0% {
    transform: rotate(2turn);
  }
  100% {
    opacity: 0%;
  }
}
@keyframes loading-spinner {
  0% {
    transform: rotate(2turn);
  }
  100% {
    opacity: 0%;
  }
}
@-webkit-keyframes menu-appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.7;
  }
  40%, 100% {
    opacity: 1;
  }
}
@keyframes menu-appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.7;
  }
  40%, 100% {
    opacity: 1;
  }
}
@-webkit-keyframes selection-tick {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes selection-tick {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes homepage-appear {
  0%, 99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes homepage-appear {
  0%, 99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes heart-filling {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes heart-filling {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
/* Général */
* {
  box-sizing: border-box;
  text-decoration: none;
}

.box {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
  width: 100%;
  margin: 10px 0px 0px 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 12px;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 11px;
  font-weight: 500;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

h4 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 11px;
  font-weight: 300;
}

h5 {
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 10px;
  font-weight: 500;
}

h6 {
  font-family: "Shrikhand", cursive;
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

h7 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

h8 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

h9 {
  font-family: "Shrikhand", cursive;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}

h10 {
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 10px;
  font-weight: 400;
}

h11 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

strong {
  font-size: 15px;
}

button {
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

#ville {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  background-color: #e7e7e4;
  border: none;
  padding-top: 3px;
}

.btn {
  width: 140px;
  height: 30px;
  margin: auto;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-radius: 20px/20px;
  box-shadow: 6px 6px 6px gainsboro;
  margin-top: 30px;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
}
.btn:hover {
  cursor: pointer;
  box-shadow: 6px 6px 6px #c2c2c2;
  opacity: 0.8;
}
.btn p {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

#introduction__text-container p {
  font-size: 10px;
}

.nouveau {
  width: 58px;
  height: 20px;
  font-size: 9px;
  font-weight: 500;
  border-radius: 3%/12%;
  color: #278870;
  background-color: #99E2D0;
  position: relative;
  left: 175px;
  bottom: 112px;
}
.nouveau p {
  padding-top: 5px;
}

.nouveau--hidden {
  opacity: 0;
}

/* Header */
#logo {
  height: 20px;
  margin-left: 60px;
}

#header__heading { /* A REVOIR, REMETTRE A GAUCHE */
  width: 100%;
  height: 40px;
  padding-top: 10px;
  display: flex;
}

.fa-solid.fa-arrow-left {
  font-size: 17px;
  padding-left: 15px;
}

/* Menu Block */
.menu__background-photo {
  width: 100%;
  background-size: cover;
}
@media (min-width: 600px) {
  .menu__background-photo {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#menu__container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  bottom: 43px;
  background-color: #f5f5f4;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 50px;
}

#menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
#menu__heading h6 {
  margin: 20px 0px;
}

.fa-regular.fa-heart.small.inactive.menu-heart { /* A REVOIR, NE FONCTIONNE PAS*/ }
.fa-regular.fa-heart.small.inactive.menu-heart:active {
  opacity: 0;
  transition-duration: 1.5s;
}

.fa-regular.fa-heart.small.active.menu-heart { /* A REVOIR, NE FONCTIONNE PAS*/
  position: relative;
  right: 18px;
  color: #9356DC;
  opacity: 0;
}
.fa-regular.fa-heart.small.active.menu-heart:active {
  opacity: 1;
  transition-duration: 1.5s;
}

#menu__course-full-container {
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.menu__course-container--1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-animation: menu-appear 3s 1s both ease-out;
          animation: menu-appear 3s 1s both ease-out;
}

.menu__course-container--2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-animation: menu-appear 3s 2s both ease-out;
          animation: menu-appear 3s 2s both ease-out;
}

.menu__course-container--3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-animation: menu-appear 3s 3s both ease-out;
          animation: menu-appear 3s 3s both ease-out;
}

.menu__sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  padding-top: 10px;
}

.menu__hemi-border {
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
}

.menu__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 6px 6px 6px gainsboro;
  margin: 10px;
  overflow: hidden;
}
.menu__card:hover {
  cursor: pointer;
}
.menu__card:active > .menu__card-right {
  -webkit-animation: selection-tick 1s 100ms forwards;
          animation: selection-tick 1s 100ms forwards;
}
.menu__card:active > .fa-solid.fa-check { /* A REVOIR, NE FONCTIONNE PLUS*/
  transform: rotate(360deg);
  transition-duration: 2s;
  transition: transform 2s 300ms;
  color: red;
}
.menu__card h8 {
  text-overflow: ellipsis; /* A REVOIR, NE FONCTIONNE PAS*/
  overflow: hidden;
}

.menu__card-left {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 100px;
}

.menu__card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 10px;
}
.menu__card-text h11 {
  width: 100px;
  height: 18px;
  text-overflow: ellipsis; /* A REVOIR, NE FONCTIONNE PAS */
  overflow: hidden;
}
.menu__card-text strong {
  padding-right: 8px;
}

.menu__card-right {
  width: 65px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 53px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.menu__card-right .fa-solid.fa-check {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #99E2D0;
  background-color: #FFF;
  border-radius: 50%;
  padding: 4px;
}

/* Footer */
footer {
  width: 100%;
  background-color: #000;
  padding: 20px 0px;
}

#footer__heading {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  text-align: left;
}

.footer__list-element {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000;
  padding: 5px 0px;
  padding-left: 15px;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

.fa-solid.fa-utensils, .fa-solid.fa-handshake-simple {
  font-size: 12px;
  color: #FFF;
  padding-right: 10px;
}

footer h5 {
  margin: 0px;
}

/* Footer Pages */
.footer-pages {
  width: 100%;
  position: relative;
  bottom: 43px;
}

/* Loading spinner */
#body-homepage {
  max-width: 100%;
  margin: auto;
  -webkit-animation: homepage-appear 5s 2s both;
          animation: homepage-appear 5s 2s both;
}

.loading {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #f5f5f4;
  border-top-color: #99E2D0;
  border-radius: 50%;
  animation: loading-spinner 1.5s forwards ease-in-out 2 reverse;
}

.loading .fa-solid.fa-utensils {
  width: 40px;
  height: 40px;
  margin: auto;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 26px;
  color: #9356DC;
}

#loading-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
}

/* Header Homepage */
#logo-homepage {
  height: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

/* Introduction Block */
#introduction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f5f5f4;
  margin: auto;
  text-align: center;
}

#introduction__research-container {
  width: 100%;
  height: 30px;
  background-color: #e7e7e4;
  text-align: center;
  padding-top: 4px;
}
#introduction__research-container #introduction__research-text-container {
  width: 250px;
  display: flex;
  justify-content: center;
  margin: auto;
}

#introduction h1 {
  width: 50%;
  margin: auto;
}

#introduction h4 {
  width: 70%;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 10px;
}

#introduction__text-container {
  padding: 20px 0px;
}

#location_dot_icon_container {
  padding-right: 10px;
  padding-top: 2px;
}

/* Navigation Block */
#navigation {
  width: 100%;
  margin: auto;
  background-color: #FFF;
}

#navigation__heading {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navigation__heading h1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

#navigation__container {
  width: 100%;
  max-width: 850px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 20px;
}

.navigation-card {
  width: 240px;
  height: 50px;
  background-color: #f5f5f4;
  border-radius: 15px/15px;
  box-shadow: 6px 6px 6px gainsboro;
  margin: 0px 10px 15px 5px;
}
.navigation-card .fa-solid.fa-mobile-screen-button, .navigation-card .fa-solid.fa-list-ul, .navigation-card .fa-solid.fa-shop {
  color: grey;
  margin-right: 15px;
  margin-top: 6px;
}
.navigation-card h2 {
  margin-top: 15px;
}
.navigation-card:hover {
  background-color: #f1eafb;
  cursor: pointer;
  box-shadow: 6px 6px 6px #c2c2c2;
}
.navigation-card:hover .fa-solid.fa-mobile-screen-button, .navigation-card:hover .fa-solid.fa-list-ul, .navigation-card:hover .fa-solid.fa-shop {
  color: #9356DC;
}

.navigation-card a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
}

.navigation-card__number {
  width: 15px;
  height: 15px;
  color: #FFF;
  font-size: 8px;
  background-color: #9356DC;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  right: 6px;
  top: 3px;
}

.navigation-card__number p {
  position: relative;
  bottom: 4px;
}

/* Restaurants section */
#restaurants {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 100px;
}

#restaurants__heading h1 {
  text-align: left;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#restaurants__cards-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.restaurants__card {
  width: 245px;
  height: 160px;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  margin: auto;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 12px/10px;
  box-shadow: 6px 6px 6px gainsboro;
}
.restaurants__card a {
  width: 100%;
  height: 100%;
}

.restaurant__card-image {
  width: 100%;
  height: 108px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin: 0px;
}

.restaurant__card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.restaurant__card-text h3 {
  width: 100%;
  text-align: left;
  margin: 20px 0px 0px 10px;
}
.restaurant__card-text h4 {
  width: 100%;
  text-align: left;
  position: relative;
  margin-top: 5px;
  right: 14px;
}

.restaurant__card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;
  bottom: 40px;
  margin: 0px;
  padding: 0px;
}

.fa-regular.fa-heart.small.inactive {
  width: 40px;
  position: relative;
  left: 45px;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  z-index: 2;
}
.fa-regular.fa-heart.small.inactive:hover {
  cursor: pointer;
}
.fa-regular.fa-heart.small.inactive:active {
  opacity: 0;
}

.fa-regular.fa-heart.small.active {
  width: 40px;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #9356DC;
  opacity: 1;
  z-index: 1;
}
.fa-regular.fa-heart.small.active:active {
  -webkit-animation: heart-filling, 2s, 100ms, ease-out, forwards;
          animation: heart-filling, 2s, 100ms, ease-out, forwards;
}/*# sourceMappingURL=main.css.map */