footer {
    background-color: $color-black;
    padding: 20px 0px;
    margin-top: 30px;
    }
#footer__heading {
    padding-left: $padding-left;
    text-align: left;
}
.footer__list-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-black;
    padding: 5px 0px;
}
ul {
    list-style-type: none;
    padding-left: $padding-left;
}
.fa-solid.fa-utensils, .fa-solid.fa-handshake-simple {
    font-size: 12px;
    color: $color-white;
    padding-right: 10px;
}
footer h5 {
    margin: 0px;
}