.btn {
    width: 150px;
    height: 30px;
    margin:auto;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 20px/20px;
    background-color: pink;
    background-image: linear-gradient (to top, $color-primary, $color-secondary); /* A REVOIR, NE FONCTIONNE PAS */
    p {
        position: relative;
        top: 9px;
    }
}
.nouveau {
    width: 70px;
    height: 25px;
    font-size: 12px;
    color: darken($color-tertiary, 20%);
    background-color: $color-tertiary;
    position: relative;
    left: 210px;
    bottom: 140px;
    p {
        padding-top: 5px;
    }
}