.btn {
    width: 150px;
    height: 30px;
    margin:auto;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 20px/20px;
    background-color: pink;
    background-image: linear-gradient (to top, $color-primary, $color-secondary); /* A REVOIR, NE FONCTIONNE PAS */
}
.btn p {
    position: relative;
    top: 9px;
}