/* Général */
* {
    box-sizing: border-box;
    text-decoration: none;
   }
.box {
   box-sizing: border-box; /* Opera/IE 8+ */
   -moz-box-sizing: border-box; /* Firefox, autres Gecko */
   -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}
body {
   width: auto;
   margin: 10px 0px 0px 0px;
}


