body {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 12px;
   }

h1 {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 14px;
    font-weight: 700;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 11px;
    font-weight: 500;
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 12px;
    font-weight: 600;
} 
h4 {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 11px;
    font-weight: 300;
}
h5 {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    font-size: 10px;
    font-weight: 500;
}
h6 {
    font-family: 'Shrikhand', cursive;
    color: $color-black;
    font-size: 22px;
    font-weight: 600;
}
h7 {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
h8 {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 15px;
    font-weight: 600;
}
h9 {
    font-family: 'Shrikhand', cursive;
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
}
h10 {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    font-size: 10px;
    font-weight: 400
}
h11 {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 14px;
    font-weight: 400;
}
strong {
    font-size: 15px;
}
button {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    font-size: 14px;
    font-weight: 400
}
#ville {
    font-family: 'Roboto', sans-serif;
    color: $color-black;
    font-size: 12px;
    font-weight: 600;
    background-color: $color-background-dark;
    border: none;
    padding-top: 3px;
}

