#logo-homepage {
    height: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}
#introduction {
    width: 100%;
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $color-background;
    margin: auto;
    text-align: center;
}
#introduction__research-container {
    width: 100%;
    height: 20px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    background-color: $color-dark-background;
    text-align: center;
}
#introduction h1 {
    width: 50%;
    margin: auto;
}
#introduction h4 {
    width: 60%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 10px;
}
#introduction__text-container {
    padding: 20px 0px;
}
#location_dot_icon_container {
    padding-right: 20px;
    padding-top: 2px;
}
#navigation {
    background-color: $color-white;
}
#navigation__heading {
    text-align: left;
    padding-left: $padding-left;
    margin: 10px 0px;
}
#navigation__heading h1 {
    width: 100%;
    margin-left: 0px;
}
#navigation__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* A REVOIR, NE VA PAS A LA LIGNE */
}
.navigation-card {
    width: auto;
    max-width: 768px;
    height: 35px;
    background-color: $color-background;
    border-radius: 12px/10px;
    box-shadow: 6px 6px 6px gainsboro;
    margin: 0px 10px 10px 20px;
}
.navigation-card a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}
.navigation-card__number {
    width: 15px;
    height: 15px;
    color: $color-white;
    font-size: 8px;
    background-color: $color-primary;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    right: 6px;
}
.navigation-card__number p {
    position: relative;
    bottom: 4px;
}
.fa-solid.fa-mobile-screen-button, .fa-solid.fa-list-ul, .fa-solid.fa-shop {
    color: $color-dark-background; /* A REVOIR, NE FONCTIONNE PAS */
    margin-right: 15px;
}
.navigation-card:active { /* &:active NE FONCTIONNE PAS */
    background-color: lighten ($color-primary, 20%);
}
.fa-solid.fa-mobile-screen-button, .fa-solid.fa-list-ul, .fa-solid.fa-shop {
    color: $color-primary;
}
#restaurants {
    height: 500px; /* A MODIFIER */
    padding-bottom: 100px;
}
#restaurants__heading h1 {
        text-align: left;
        width: 100%;
        padding-left: $padding-left;
        margin: 10px 0px;
    }
.restaurants__card {
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: $color-white;
    border-radius: 12px/10px;
    box-shadow: 6px 6px 6px gainsboro;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid green;
    a {
        width: 100%;
        height: 100%;
        border: 2px solid burlywood;
    }
}
.restaurant__card-image {
    width: 100%;
    height: 70%;
    border: 2px solid red;
}
.restaurant__card-text {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
    height: 100%;
    border: 2px solid violet;
    h3 {
        width: 100%;
        text-align: left;
        border: 2px solid red;
    }
    h4 {
        width: 100%;
        text-align: left;
        border: 2px solid blueviolet;
    }
}
.restaurant__card-body {
    @include flex-horizontal;
    width: 100%;
    height: 30%;
    padding: 0px;
    border: 2px solid orange;
}
.fa-regular.fa-heart.small {
    border: 2px solid yellowgreen;
}