@mixin flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@mixin flex-horizontal {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
@mixin gradient {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, $color-primary),
        color-stop(1, $color-secondary)
    );
    background-image: -o-linear-gradient(top, $color-primary 0%, $color-secondary 100%);
    background-image: -moz-linear-gradient(top, $color-primary 0%, $color-secondary 100%);
    background-image: -webkit-linear-gradient(top, $color-primary 0%, $color-secondary 100%);
    background-image: -ms-linear-gradient(top, $color-primary 0%, $color-secondary 100%);
    background-image: linear-gradient(to top, $color-primary 0%, $color-secondary 100%);
}