$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #f0f0ef;
$color-dark-background: darken ($color-background, 20%);
$color-black: #000;
$color-white: #FFF;

$padding-left: 15px;